{% extends 'base.html' %}

{% block body %}

<div class="card shadow" >
            <div class="card-body">
                <div class="card-title"><h4>{{task1.name}}</h4></div>
                <p><h5><b>{{task1.priority}}</b></h5></p>
                <p><h5>{{task1.date}}</h5></p>
                <a class="btn btn-danger" href="{% url 'todoapp:delete' task1.id %}">Done</a>
                <a class="btn btn-warning" href="{% url 'todoapp:update' task1.id %}">Update</a>
            </div>

</div>

{% endblock %}

